
  <div style="width:100%;position:relative;display:block;margin-top:140px;height:auto;">
    <div class="secondary-nav">
      <p>Our Team of Professionals</p>
    </div>



    <div style="width:100%;height:400px;position:relative;display:inline-block;background:#c89f42;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/bg_justice.jpg');background-size:cover;opacity:0.8;margin-bottom:-6px;"></div>
     <div style="width:35%;position:absolute;top:80px;padding-top:80px;padding-bottom:136px;padding-left:60px;color:#111;font-family:Oswald;font-size:21px;line-height:1.6em;z-index:10;background:rgba(0,0,0,0);opacity:0.8;border-top-right-radius:0px;">
      <p style="font-size:24px;text-transform:uppercase;">Our clients are our first priority.<br><br></p><p>Meet our team of professionals ready to assist you in a variety of practice areas including guardianships, conservatorships, estate planning, probate issues, patient care services and more.<br>
      </p>
      </div>

    <div style="width:100%;background:#112a55;height:60px;"></div>

    <div style="width:100%;">
      <div style="width:25%;height:400px;float:left;background:#112a55;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/richard_f_ready.jpg');background-size:cover;border:1px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect-fixed">
        <div class="overlay-fixed">
          <h2><%= link_to("Richard F. Ready", ready_partners_path) %><br><br>Partner</h2>
          <a href="mailto:rready@rbsklaw.com">rready@rbsklaw.com</a>
        </div>


      </div>

    
      <div style="width:25%;height:400px;float:left;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/matthew_h_beaulieu.jpg');background-size:cover;border:1px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect">
        <div class="overlay">
          <h2><%= link_to("Matthew H. Beaulieu", beaulieu_partners_path) %><br><br>Partner</h2>
          <a href="mailto:mbeaulieu@rbsklaw.com">mbeaulieu@rbsklaw.com</a>
        </div>

      </div>

      <!-- blank box -->
      <div style="width:25%;height:400px;float:left;background:#193d7d;">
        <div style="color:#fff;font-size:16px;font-family:Spectral;margin-top:20px;margin-left:30px;margin-right:20px;">
          <font style="font-size:24px;">"I</font> have worked with Matthew H. Beaulieu and his associates in connection with numerous probate matters. Attorney Beaulieu’s experience and depth of knowledge is unmatched. Attorney Beaulieu’s experience and depth of knowledge is unmatched. He is well respected in the legal community across the various countries throughout the state. His representation allowed me to navigate otherwise challenging and complex probate issues and procedures with great ease and with very little stress."<br><br>
          <font style="font-size:18px;">-- Alyssa N. Asack, Attorney</font>
        </div>
      </div>

      <div style="width:25%;height:400px;float:left;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/brandon_saunders.jpg');background-size:cover;border:1px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect">

      <div class="overlay">
        <h2><%= link_to("Brandon Saunders", saunders_partners_path) %><br><br>Partner</h2>
        <a href="mailto:bsaunders@rbsklaw.com">bsaunders@rbsklaw.com</a>
      </div>

    </div>


      <div style="clear:both;"></div>
    </div>

    <div style="width:100%;background:#112a55;height:20px;"></div>

      <!-- blank box -->
      <div style="width:25%;height:400px;float:left;background:#193d7d;">
        <div style="color:#fff;font-size:16px;font-family:Spectral;margin-top:40px;margin-left:30px;margin-right:20px;">
          <font style="font-size:24px;">"M</font>atthew Beaulieu has provided top notch legal services to hospitals throughout the Partners HealthCare System including Brigham & Women’s and Faulkner Hospitals. His representation has resulted in excellent results for both the hospitals and the patients they serve, ensuring that care and discharge are appropriate and efficient, and that patients obtain ongoing care in the most appropriate setting."<br><br>
          <font style="font-size:18px;">-- Joshua Abrams, Senior Attorney</font>
        </div>
      </div>


            
      <div style="width:25%;height:400px;float:left;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/heidi_kostin.jpg');background-size:cover;border:1px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect">

        <div class="overlay">
          <h2><%= link_to("Heidi Kostin", kostin_partners_path) %><br><br>Partner</h2>
          <a href="mailto:hkostin@rbsklaw.com">hkostin@rbsklaw.com</a>
        </div>

      </div>

      
      <div style="width:25%;height:400px;float:left;background:#112a55;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/diane_hall.jpg');background-size:cover;border:1px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect-fixed">

        <div class="overlay-fixed">
          <h2><%= link_to("Diane Geraghty Hall", hall_partners_path) %><br><br>Of Counsel</h2>
          <!--a href="mailto:dhall@rbsklaw.com">dhall@rbsklaw.com</a-->
        </div>


      </div>

      <div style="width:25%;height:400px;float:left;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/william_s_carroll.jpg');background-size:cover;border:1px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect">

        <div class="overlay">
          <h2><%= link_to("William S. Carroll", carroll_partners_path) %><br><br>Of Counsel</h2>
          <!--a href="mailto:wcarroll@rbsklaw.com">wcarroll@rbsklaw.com</a-->
        </div>

      </div>


            <div style="clear:both;"></div>
    </div>



  </div>

<div style="width:100%;height:10px;background:#c89f42;">
</div>
