<!-- 2019-01-04 13:18:08 -0800 -->
<div class="footer-wrap">
  <div class="footer-nav">
    <div>
      <h3><a href="/about-us">About RBSK Law</a></h3>
      <div><a href="/clients">Testimonials</a></div>
      <div><a href="/partners">Our Team</a></div>
      <div><a href="/in-the-news">Matthew Beaulieu</a></div>
      <div><a href="/events">Heidi Kostin</a></div>
      <div><a href="/careers">Richard Ready</a></div>
      <div><a href="/contact-us">Brandon Saunders</a></div>
    </div>
  	<div>
  	<h3><a href="/solutions">Who We Serve</a></h3>
  	<div><a href="/solutions/outplacement">Attorneys</a></div>
  	<div><a href="/solutions/social-recruiting">Health Care Providers</a></div>
  	<div><a href="/resources">Families</a></div>
  	<div><a href="/demo">New Adults</a></div>
  	<div><a target="_blank" href="/services/seniors">Seniors</a></div>
  	<div><a target="_blank" href="/services/service-members">Service Members</a></div>
	</div>
	<div>
  	<h3><a href="/services">Services We Provide</a></h3>
  	<div><a href="/services/real-estate">Real Estate</a></div>
  	<div><%= link_to "Probate Litigation", root_path %></div>
  	<div><%= link_to "Guardianship & Conservatorship", root_path %></div>
  	<div><%= link_to "Trusts", root_path %></div>
  	<div><%= link_to "Fiduciary Services", root_path %></div>
  	<div><%= link_to "Personal Injury", root_path %></div>
  	<div><%= link_to "Civil Litigation", root_path %></div>
  	<div><%= link_to "Mental Health Litigation", root_path %></div>
  	<div><%= link_to "Estate Planning & Elder Law", root_path %></div>
  	</div>
  	<div>
    	<h3><a href="/contact-us">Contact Us</a></h3>
    	<div><%= link_to "Terms", root_path %></div>
    	<div><%= link_to "Definitions", root_path %></div>
    	<div><%= link_to "News & Updates", root_path %></div>
  	</div>
	</div>

	<div class="social-links">
  	<a href="https://twitter.com/rbsklaw" target="_blank">
  	<img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
  	</a>
  	<a href="https://www.facebook.com/RBSK_LawOffices" target="_blank">
  	<img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
  	</a>
  	<a href="https://www.glassdoor.com/Reviews/RBSK_Law_Offices" target="_blank">
  	<img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_glassdoor.png" alt="Glassdoor"/>
  	</a>
  	<a href="https://www.linkedin.com/company/RBSK_Law_Offices" target="_blank">
  	<img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
  	</a>
	</div>

	<div> &copy; 2019 RBSK Law  |  All rights reserved </div>
</div>
