<!-- 2019-01-04 13:18:08 -0800 -->
<div class="footer-wrap">
  <div class="footer-nav">
    <div>
      <h3><%= link_to "About RBSK Law", partners_path %></h3>
      <div><%= link_to("Our Team", partners_path) %></div>
      <div><%= link_to("Matthew H. Beaulieu", beaulieu_partners_path) %></div>
      <div><%= link_to("Heidi Kostin", kostin_partners_path) %></div>
      <div><%= link_to("Richard F. Ready", ready_partners_path) %></div>
      <div><%= link_to("Brandon Saunders", saunders_partners_path) %></div>
      <div><%= link_to("Diane Geraghty Hall", hall_partners_path) %></div>
      <div><%= link_to("William S. Carroll", carroll_partners_path) %></div>
      <!--div><a href="/testimonials">Testimonials</a></div-->
    </div>
  	<div>
  	<h3><%= link_to("Who We Serve", practices_path) %></h3>
  	<div><%= link_to("Attorneys", attorneys_practices_path) %></div>
  	<div><%= link_to("Health Care Providers", health_care_providers_practices_path) %></div>
  	<div><%= link_to("Families", families_practices_path) %></div>
  	<div><%= link_to("New Adults", new_adults_practices_path) %></div>
  	<div><%= link_to("Seniors", seniors_practices_path) %></div>
  	<div><%= link_to("Service Members", service_members_practices_path) %></div>
	</div>
	<div>
  	<h3><%= link_to("Services We Provide", practices_path) %></h3>
  	<div><%= link_to("Civil Litigation", civil_litigation_practices_path) %></div>
  	<div><%= link_to("Estate Planning & Elder Law", estate_planning_practices_path) %></div>
  	<div><%= link_to("Fiduciary Services", fiduciary_services_practices_path) %></div>
  	<div><%= link_to("Guardianship & Conservatorship", guardianship_practices_path) %></div>
  	<div><%= link_to("Mental Health Litigation", mental_health_practices_path) %></div>
  	<div><%= link_to("Personal Injury", personal_injury_practices_path) %></div>
  	<div><%= link_to("Probate Litigation", probate_litigation_practices_path) %></div>
  	<div><%= link_to("Real Estate", real_estate_practices_path) %></div>
  	<div><%= link_to("Trusts", trusts_practices_path) %></div>
  	</div>
  	<div>
    	  <h3><%= link_to("Contact Us", contact_index_path) %></h3>
	  <!--div><%= link_to "News & Updates", root_path %></div-->
    	  <div><%= link_to("Terms & Definitions", terms_path) %></div>

  	</div>
	</div>

	<div class="social-links">
  	<a href="https://twitter.com/rbsklaw" target="_blank">
  	<img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
  	</a>
  	<a href="https://www.facebook.com/RBSK_LawOffices" target="_blank">
  	<img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
  	</a>
  	<a href="https://www.linkedin.com/company/RBSK_Law_Offices" target="_blank">
  	<img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
  	</a>
	</div>

	<div class="copyright"> &copy; 2019 RBSK Law  |  565 Rounseville Rd., Unit 5, Rochester, MA 02770 | All rights reserved | <%= link_to("Disclaimer", disclaimer_index_path) %></div>
</div>
