<div class="header hidden-sm hidden-xs" style="text-align:center;height:140px !important;">
  <div class="logo" style="float:left;">
    <a href="/" data-action="Logo">
    <%= link_to root_path do %>
  		<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/logo_blue_gold_spiral_smoothed2.png", class: "", style: "height:152px;" %>
    <% end %>
    </a>
  </div>
  <div class="top-nav navbar" style="margin:0px auto;float:right;">
    <ul class="nav navbar-nav ">
      <li class="active" style="font-size:16px !important;text-transform:uppercase;"> <%= link_to "Home", root_path %></li>
      <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <%= link_to "Our People", partners_path %></li>
      <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <%= link_to "Practice Areas", practices_path %></li>
      <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <%= link_to "Contact", root_path %> </li>
    </ul>
  </div>
</div>
<!-- end nav -->
<nav class="navbar navbar-default navbar-fixed-top visible-sm-block visible-xs-block" role="navigation" style="z-index: 6000;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand" data-action="Logo">
      <img alt="RBSK Law Offices" style="max-width:150px;" src="https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png" />
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
    </ul>
  </div><!--/.nav-collapse -->
</nav>
