<!DOCTYPE html>
<html lang="en">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Spectral" rel="stylesheet">
  
<head>

    <title>RBSK Law</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="css.css" />

<style>

.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #c89f42;
}
.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #c89f42;
}

.secondary-nav {
width:100%;
max-width:100%;
height: 80px;
padding-top: 14px;
text-align: left;
margin: 0px auto;
background: #08152b;
border-bottom: 4px solid #c89f42;
box-shadow: inset 0px 0px 50px 20px #193d7d;
}

.secondary-nav > p {
font-family: Oswald;
font-size: 32px;
color: #eee;
text-align: left;
margin-left: 70px;
}


.section-6b {
    height: 450px;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/contact_rbsk_law.jpg) no-repeat fixed center center;
    background-size: 100%;
}

.section-4b {
    position: relative;
    z-index: 40;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/terms_definitions_rbsk_law.jpg) no-repeat fixed center top;
    background-size: 100%;
    padding: 120px 0 120px 50%;
}

.bio-link > p {
font-family: Oswald;
font-size: 24px;
text-align: left;
margin-left: 60px;
margin-top: 40px;
}

.bio-link > p > a, .bio-info > p > a, .bio-email > p > a {
    color: #193d7d !important;
text-decoration: none;
}

.bio-link > p > a:hover,.bio-link.p > a:focus, .bio-info > p > a:hover, .bio-info > p > a:focus, .bio-email > p > a:hover, .bio-email > p > a:focus {
color: #193d7d !important;
opacity:0.8;
    text-decoration: underline;
}

.bio-link > p > a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

.bio-info > p {
font-size: 21px;
font-family: Oswald;
color: #193d7d;
text-align: left;
margin-left: 60px;
}

.bio-email > p {
font-size: 18px;
font-family: Oswald;
color: #193d7d;
text-align: left;
margin-left: 60px;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
font-family:Oswald;
text-transform:uppercase;
color:#fff;
margin:120px 0px 20px 0px;
text-align:center;
position:relative;
font-size:18px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;
padding:20px;
}

.overlay > a, .overlay > h2 > a {
color: #c89f42 !important;
font-family: Oswald;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#c89f42 !important;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;
margin:200px 0 0;
padding:7px 14px;
}


.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.5s;
transition-delay:.5s;
}

</style>

</head>

<body class="marketing-layout chrome_71 unknown chrome modern mac webkit visitor home outplacement en status-200">
    
  <!-- nav_employer_nogov_solutions_production_en: cached at: 2019-01-04 13:10:41 -0800 -->
  <div class="header hidden-sm hidden-xs" style="text-align:center;height:100px !important;">
    <div class="logo" style="float:left;">
      <a href="/" data-action="Logo">
        <%= link_to modern_path do %>
        
	<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/logo_blue_gold_spiral.png", class: "", style: "margin-top:-34px;height:160px;" %>
        <% end %>
      </a>
    </div>
    <div class="top-nav navbar" style="margin:0px auto;float:right;">
      <ul class="nav navbar-nav ">
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="modern">Home</a> </li>
          <li class="active" style="font-size:16px !important;text-transform:uppercase;"> <a href="about_gold">Our People</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="practice">Practice Areas</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="contact">Contact</a> </li>
          <!--li class="  "> <a href="/clients">Terms & Definitions</a> </li-->
      </ul>
    </div>
  </div>
  <!-- end nav -->
  <nav class="navbar navbar-default navbar-fixed-top visible-sm-block visible-xs-block" role="navigation" style="z-index: 6000;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" data-action="Logo">
        <img alt="RBSK Law Offices" style="max-width:150px;" src="https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
    </div><!--/.nav-collapse -->
  </nav>



  <div style="width:100%;position:relative;display:block;margin-top:38px;height:auto;">
    <div class="secondary-nav">
      <p>Our Team of Professionals</p>
    </div>



    <div style="height:958px;width:100%;background:#14223b;position:relative;overflow:hidden;background-image: url('https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/trusts_services_rbsk_law.jpg');background-size:cover;">
	<div style="float:left;width:55%;height:1400px;text-align:center;margin:0px auto;background:#e8e8e8;border-right:2px solid #14223b;border-top-right-radius:40%;border-bottom-right-radius:40%;display:inline-block;position:absolute;top:-20%;box-shadow: inset 0px 0px 60px 40px #c89f42;">

	  <!--div style="width:80%;margin-top:240px;">
	    <div style="width:180px;float:left;margin-left:80px;border:1px solid #ccc;border-radius:180px;overflow:hidden;"><img src="https://s3.us-east-2.amazonaws.com/rbsk/team/matthew_h_beaulieu.jpg" height="180">
		      </div>
	    <div style="width:300px;float:left;"><div class="bio-link"><p><a href="beaulieu">Matthew Beaulieu</a></p></div><div class="bio-info"><p>Partner</p></div><div class="bio-email"><p><a href="mailto:mbeaulieu@rbsklaw.com"><span class="glyphicon glyphicon-envelope"></span> mbeaulieu@rbsklaw.com</a></p></div></div-->

	    <div style="margin-top:190px;">
	      <div style="float:left;width:280px;height:240px;overflow:hidden;background-image: url('https://s3.us-east-2.amazonaws.com/rbsk/team/matthew_h_beaulieu.jpg');background-size:cover;border-bottom:4px solid #14223b;" class="hovereffect">
		<div class="overlay">
		  <h2><a href="beaulieu">Biography</a></h2>
		  </div>
	      </div>
	      <div style="float:left;width:60%;height:240px;border-bottom:4px solid #14223b;overflow:hidden;">
		<div class="bio-link"><p><a href="beaulieu">Matthew H. Beaulieu</a></p></div><div class="bio-info"><p>Partner</p></div><div class="bio-email"><p><a href="mailto:mbeaulieu@rbsklaw.com"><span class="glyphicon glyphicon-envelope"></span> mbeaulieu@rbsklaw.com</a></p></div>
	      </div>
	    </div>

	  
	    <div style="clear:both;"></div>

	    <!--div style="width:180px;float:left;margin-left:80px;border:1px solid #ccc;border-radius:180px;overflow:hidden;"><img src="https://s3.us-east-2.amazonaws.com/rbsk/team/heidi_kostin.jpg" height="180">
		      </div>
	    <div style="width:300px;float:left;"><div class="bio-link"><p><a href="kostin_gold">Heidi Kostin</a></p></div><div class="bio-info"><p>Partner</p></div><div class="bio-email"><p><a href="mailto:hkostin@rbsklaw.com"><span class="glyphicon glyphicon-envelope"></span> hkostin@rbsklaw.com</a></p></div></div-->

	    <!--div style="clear:both;margin-bottom:60px;"></div-->
	    
	    <div style="margin-top:0px;">
	      <div style="float:left;width:280px;height:240px;overflow:hidden;background-image: url('https://s3.us-east-2.amazonaws.com/rbsk/team/heidi_kostin.jpg');background-size:cover;border-bottom:4px solid #14223b;" class="hovereffect">
		<div class="overlay">
		  <h2><a href="kostin_gold">Experience & Practice</a></h2>
		</div>
	      </div>
	      <div style="float:left;width:60%;height:240px;border-bottom:4px solid #14223b;overflow:hidden;">
		<div class="bio-link"><p><a href="kostin_gold">Heidi Kostin</a></p></div><div class="bio-info"><p>Partner</p></div><div class="bio-email"><p><a href="mailto:hkostin@rbsklaw.com"><span class="glyphicon glyphicon-envelope"></span> hkostin@rbsklaw.com</a></p></div>
	      </div>
	    </div>

	    <div style="clear:both;"></div>

	    
	    <!--div style="width:180px;float:left;margin-left:80px;border:1px solid #ccc;border-radius:180px;overflow:hidden;"><img src="https://s3.us-east-2.amazonaws.com/rbsk/team/brandon_saunders.jpg" height="180">
		      </div>
	    <div style="width:300px;float:left;"><div class="bio-link"><p><a href="ready">Richard F. Ready</a></p></div><div class="bio-info"><p>Partner</p></div><div class="bio-email"><p><a href="mailto:rready@rbsklaw.com"><span class="glyphicon glyphicon-envelope"></span> rready@rbsklaw.com</a></p></div></div>

	    <div style="clear:both;margin-bottom:60px;"></div-->

	    <div style="margin-top:0px;">
	      <div style="float:left;width:280px;height:240px;overflow:hidden;background-image: url('https://s3.us-east-2.amazonaws.com/rbsk/team/william_s_carroll.jpg');background-size:cover;border-bottom:4px solid #14223b;" class="hovereffect">
		<div class="overlay">
		  <h2><a href="ready">Practice Areas</a></h2>
		  </div>
	      </div>
	      <div style="float:left;width:60%;height:240px;border-bottom:4px solid #14223b;overflow:hidden;">
		<div class="bio-link"><p><a href="ready">Richard F. Ready</a></p></div><div class="bio-info"><p>Partner</p></div><div class="bio-email"><p><a href="mailto:rready@rbsklaw.com"><span class="glyphicon glyphicon-envelope"></span> rready@rbsklaw.com</a></p></div>
	      </div>
	    </div>

	    <div style="clear:both;"></div>

	    
	    <!--div style="width:180px;float:left;margin-left:80px;border:1px solid #ccc;border-radius:180px;overflow:hidden;"><img src="https://s3.us-east-2.amazonaws.com/rbsk/team/brandon_saunders.jpg" height="180">
		      </div>
	    <div style="width:300px;float:left;"><div class="bio-link"><p><a href="saunders">Brandon Saunders</a></p></div><div class="bio-info"><p>Partner</p></div><div class="bio-email"><p><a href="mailto:bsaunders@rbsklaw.com"><span class="glyphicon glyphicon-envelope"></span> bsaunders@rbsklaw.com</a></p></div></div>

	    <div style="clear:both;margin-bottom:40px;"></div-->

	    <div style="margin-top:0px;">
	      <div style="float:left;width:280px;height:240px;overflow:hidden;background-image: url('https://s3.us-east-2.amazonaws.com/rbsk/team/brandon_saunders.jpg');background-size:cover;" class="hovereffect">
		<div class="overlay">
		  <h2><a href="saunders">Meet Brandon</a></h2>
		</div>
	      </div>
	      <div style="float:left;width:60%;height:240px;overflow:hidden;">
		<div class="bio-link"><p><a href="ready">Brandon Saunders</a></p></div><div class="bio-info"><p>Partner</p></div><div class="bio-email"><p><a href="mailto:bsaunders@rbsklaw.com"><span class="glyphicon glyphicon-envelope"></span> bsaunders@rbsklaw.com</a></p></div>
	      </div>
	    </div>

	    <div style="clear:both;"></div>


	    
	  </div>
	</div>
      <div style="float:left;width:45%;height:auto;display:inline-block;position:absolute;top:20%;right:10px;">
	<p style="width:80%;margin-left:50px;color:#eee;font-family:Oswald;font-size:21px;line-height:1.6em;">Our clients are our first priority.<br><br> As a team of attorneys, we are able to work collaboratively, together and with our clients, to determine the ideal legal strategy for each particular case. We seek to provide first-class counsel to individuals as well as organizations in areas including estate planning, family law, probate law, elder and disability law, and civil litigation, as well as providing fiduciary services and advice to closely held corporations.<br><br>Engaging RBSK Law Offices for your legal needs provides you with a team of professionals who strive for excellence in each case.</p>
      </div>
    </div>
	  
  </div>


</div>

<div style="width:100%;height:10px;background:#c89f42;">
</div>

  <div class="footer-wrap">
      <div class="footer-nav">
        <div>
          <h3><a href="about_gold">About RBSK Law</a></h3>
          <div><a href="testimonials">Testimonials</a></div>
          <div><a href="about_gold">Our People</a></div>
          <div><a href="beaulieu">Matthew Beaulieu</a></div>
          <div><a href="kostin_gold">Heidi Kostin</a></div>
          <div><a href="ready">Richard Ready</a></div>
          <div><a href="saunders">Brandon Saunders</a></div>
        </div>
        <div>
          <h3><a href="practice">Who We Serve</a></h3>
          <div><a href="practice/attorneys">Attorneys</a></div>
          <div><a href="practice/health_care">Health Care Providers</a></div>
          <div><a href="practice/families">Families</a></div>
          <div><a href="practice/new_adults">New Adults</a></div>
          <div><a href="practice/seniors">Seniors</a></div>
          <div><a href="practice/service-members">Service Members</a></div>
        </div>
        <div>
          <h3><a href="practice">Services We Provide</a></h3>
          <div><a href="practice/real-estate">Real Estate</a></div>
      		<div><%= link_to "Probate Litigation", root_path %></div>
      		<div><%= link_to "Guardianship & Conservatorship", root_path %></div>
      		<div><%= link_to "Trusts", root_path %></div>
      		<div><%= link_to "Fiduciary Services", root_path %></div>
      		<div><%= link_to "Personal Injury", root_path %></div>
      		<div><%= link_to "Civil Litigation", root_path %></div>
      		<div><%= link_to "Mental Health Litigation", root_path %></div>
      		<div><%= link_to "Estate Planning & Elder Law", root_path %></div>
        </div>
        <div>
          <h3><a href="contact">Contact Us</a></h3>
      <div><%= link_to "Terms", root_path %></div>
      <div><%= link_to "Definitions", root_path %></div>
      <div><%= link_to "News & Updates", root_path %></div>
        </div>


      </div>


      <div class="social-links">
      <a href="https://twitter.com/rbsklaw" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
      </a>
      <a href="https://www.facebook.com/RBSK_LawOffices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
      </a>
      <a href="https://www.linkedin.com/company/RBSK_Law_Offices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
      </a>
    </div>

    <div>
      &copy; 2019 RBSK Law  |  All rights reserved
    </div>
  </div>

</body>

</html>


