<!DOCTYPE html>
<html lang="en">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Spectral|Cardo" rel="stylesheet">
  
<head>

    <title>RBSK Law</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="css.css" />

<style>

.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #c89f42;
}
.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #c89f42;
}

.secondary-nav {
width:100%;
max-width:100%;
height: 80px;
padding-top: 14px;
text-align: left;
margin: 0px auto;
background: #c89f42;
border-bottom: 4px solid #c89f42;
box-shadow: inset 0px 0px 50px 20px #193d7d;
}

.secondary-nav > p {
font-family: Oswald;
font-size: 32px;
color: #fff;
text-align: left;
margin-left: 60px;
}


.section-6b {
    height: 450px;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/contact_rbsk_law.jpg) no-repeat fixed center center;
    background-size: 100%;
}

.section-4b {
    position: relative;
    z-index: 40;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/terms_definitions_rbsk_law.jpg) no-repeat fixed center top;
    background-size: 100%;
    padding: 120px 0 120px 50%;
}

.bio-link > p {
font-family: Oswald;
font-size: 24px;
text-align: left;
margin-left: 60px;
margin-top: 40px;
}

.bio-link > p > a, .bio-info > p > a, .bio-email > p > a {
    color: #193d7d !important;
text-decoration: none;
}

.bio-link > p > a:hover,.bio-link.p > a:focus, .bio-info > p > a:hover, .bio-info > p > a:focus, .bio-email > p > a:hover, .bio-email > p > a:focus {
    color: #c89f42 !important;
    text-decoration: underline;
}

.bio-link > p > a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

.bio-info > p {
font-size: 21px;
font-family: Oswald;
color: #193d7d;
text-align: left;
margin-left: 60px;
}

.bio-email > p {
font-size: 18px;
font-family: Oswald;
color: #193d7d;
text-align: left;
margin-left: 60px;
}


.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
font-family:Oswald;
text-transform:uppercase;
color:#fff;
margin:200px 0px 20px 0px;
text-align:center;
position:relative;
font-size:18px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-200px);
-ms-transform:translatey(-200px);
transform:translatey(-200px);
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;
padding:30px;
}

.overlay > a, .overlay > h2 > a {
color: #c89f42 !important;
font-family: Oswald;
font-size:21px;
}

.overlay > h2 > a:hover, .overlay > a:hover {
color:#ddc388 !important;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#c89f42 !important;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .5s ease-in-out;
transition:all .5s ease-in-out;
margin:200px 0 0;
padding:7px 14px;
}


.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.5s;
transition-delay:.5s;
}


</style>

</head>

<body class="marketing-layout chrome_71 unknown chrome modern mac webkit visitor home outplacement en status-200">
    
  <!-- nav_employer_nogov_solutions_production_en: cached at: 2019-01-04 13:10:41 -0800 -->
  <div class="header hidden-sm hidden-xs" style="text-align:center;height:100px !important;">
    <div class="logo" style="float:left;">
      <a href="/" data-action="Logo">
        <%= link_to modern_path do %>
        
	<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/logo_blue_gold_spiral.png", class: "", style: "margin-top:-34px;height:160px;" %>
        <% end %>
      </a>
    </div>
    <div class="top-nav navbar" style="margin:0px auto;float:right;">
      <ul class="nav navbar-nav ">
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="modern">Home</a> </li>
          <li class="active" style="font-size:16px !important;text-transform:uppercase;"> <a href="about_gold">Our People</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="practice">Practice Areas</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="contact">Contact</a> </li>
          <!--li class="  "> <a href="/clients">Terms & Definitions</a> </li-->
      </ul>
    </div>
  </div>
  <!-- end nav -->
  <nav class="navbar navbar-default navbar-fixed-top visible-sm-block visible-xs-block" role="navigation" style="z-index: 6000;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" data-action="Logo">
        <img alt="RBSK Law Offices" style="max-width:150px;" src="https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
    </div><!--/.nav-collapse -->
  </nav>



  <div style="width:100%;position:relative;display:block;margin-top:38px;height:auto;">
    <div class="secondary-nav">
      <p>Our Team of Professionals</p>
    </div>



    <div style="width:100%;height:400px;position:relative;display:inline-block;background:#c89f42;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/bg_justice.jpg');background-size:cover;opacity:0.8;margin-bottom:-6px;"></div>
     <div style="width:35%;position:absolute;top:80px;padding-top:80px;padding-bottom:136px;padding-left:60px;color:#111;font-family:Oswald;font-size:21px;line-height:1.6em;z-index:10;background:rgba(0,0,0,0);opacity:0.8;border-top-right-radius:0px;">
      <p style="font-size:24px;text-transform:uppercase;">Our clients are our first priority.<br><br></p><p>Meet our team of professionals ready to assist you in a variety of practice areas including guardianships, conservatorships, estate planning, probate issues, patient care services and more.<br>
      </p>
      </div>

    <div style="width:100%;background:#112a55;height:60px;"></div>

    <div style="width:100%;">
      <div style="width:25%;height:400px;float:left;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/matthew_h_beaulieu.jpg');background-size:cover;border:2px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect">
	<div class="overlay">
	  <h2><a href="beaulieu">Matthew H. Beaulieu</a><br><br>Partner</h2>
	  <a href="mailto:mbeaulieu@rbsklaw.com">mbeaulieu@rbsklaw.com</a>
	</div>
	
      </div>
	    
      <div style="width:25%;height:400px;float:left;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/heidi_kostin.jpg');background-size:cover;border:2px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect">

	<div class="overlay">
	  <h2><a href="kostin_gold">Heidi Kostin</a><br><br>Partner</h2>
	  <a href="mailto:hkostin@rbsklaw.com">hkostin@rbsklaw.com</a>
	</div>

      </div>

      <div style="width:25%;height:400px;float:left;background:#193d7d;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/william_s_carroll.jpg');background-size:cover;border:2px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect">

	<div class="overlay">
	  <h2><a href="ready">Richard F. Ready</a><br><br>Partner</h2>
	  <a href="mailto:rready@rbsklaw.com">rready@rbsklaw.com</a>
	</div>


      </div>

      <div style="width:25%;height:400px;float:left;background-image:url('https://s3.us-east-2.amazonaws.com/rbsk/team/brandon_saunders.jpg');background-size:cover;border:2px solid #193d7d;overflow:hidden;display:block;background-position:center center;" class="hovereffect">

	<div class="overlay">
	  <h2><a href="saunders">Brandon Saunders</a><br><br>Partner</h2>
	  <a href="mailto:bsaunders@rbsklaw.com">bsaunders@rbsklaw.com</a>
	</div>
	
      </div>


	    <div style="clear:both;"></div>
    </div>
	  
  </div>

 

<div style="width:100%;height:10px;background:#c89f42;">
</div>

  <div class="footer-wrap">
      <div class="footer-nav">
        <div>
          <h3><a href="about_gold">About RBSK Law</a></h3>
          <div><a href="testimonials">Testimonials</a></div>
          <div><a href="about_gold">Our People</a></div>
          <div><a href="beaulieu">Matthew Beaulieu</a></div>
          <div><a href="kostin_gold">Heidi Kostin</a></div>
          <div><a href="ready">Richard Ready</a></div>
          <div><a href="saunders">Brandon Saunders</a></div>
        </div>
        <div>
          <h3><a href="practice">Who We Serve</a></h3>
          <div><a href="practice/attorneys">Attorneys</a></div>
          <div><a href="practice/health_care">Health Care Providers</a></div>
          <div><a href="practice/families">Families</a></div>
          <div><a href="practice/new_adults">New Adults</a></div>
          <div><a href="practice/seniors">Seniors</a></div>
          <div><a href="practice/service-members">Service Members</a></div>
        </div>
        <div>
          <h3><a href="practice">Services We Provide</a></h3>
          <div><a href="practice/real-estate">Real Estate</a></div>
      		<div><%= link_to "Probate Litigation", root_path %></div>
      		<div><%= link_to "Guardianship & Conservatorship", root_path %></div>
      		<div><%= link_to "Trusts", root_path %></div>
      		<div><%= link_to "Fiduciary Services", root_path %></div>
      		<div><%= link_to "Personal Injury", root_path %></div>
      		<div><%= link_to "Civil Litigation", root_path %></div>
      		<div><%= link_to "Mental Health Litigation", root_path %></div>
      		<div><%= link_to "Estate Planning & Elder Law", root_path %></div>
        </div>
        <div>
          <h3><a href="contact">Contact Us</a></h3>
      <div><%= link_to "Terms", root_path %></div>
      <div><%= link_to "Definitions", root_path %></div>
      <div><%= link_to "News & Updates", root_path %></div>
        </div>


      </div>


      <div class="social-links">
      <a href="https://twitter.com/rbsklaw" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
      </a>
      <a href="https://www.facebook.com/RBSK_LawOffices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
      </a>
      <a href="https://www.linkedin.com/company/RBSK_Law_Offices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
      </a>
    </div>

    <div>
      &copy; 2019 RBSK Law  |  All rights reserved
    </div>
  </div>

</body>

</html>


