<!DOCTYPE html>
<html lang="en">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Spectral|Cardo" rel="stylesheet">
  
<head>

    <title>RBSK Law</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="css.css" />

<style>

.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #c89f42;
}
.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #c89f42;
}

.secondary-nav {
width:100%;
max-width:100%;
height: 80px;
padding-top: 14px;
text-align: left;
margin: 0px auto;
background: #c89f42;
border-bottom: 4px solid #c89f42;
box-shadow: inset 0px 0px 50px 20px #193d7d;
}

.secondary-nav > p {
font-family: Oswald;
font-size: 32px;
color: #fff;
text-align: left;
margin-left: 70px;
}

.secondary-nav > p > a {
color: #fff;
}

.secondary-nav > p > a:hover, .secondary-nav > p > a:focus {
color: #dfdfdf;
}


.section-6b {
    height: 450px;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/contact_rbsk_law.jpg) no-repeat fixed center center;
    background-size: 100%;
}

.section-4b {
    position: relative;
    z-index: 40;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/terms_definitions_rbsk_law.jpg) no-repeat fixed center top;
    background-size: 100%;
    padding: 120px 0 120px 50%;
}

.bio-link > p {
font-family: Oswald;
font-size: 24px;
text-align: left;
margin-left: 60px;
margin-top: 40px;
}

.bio-link > p > a {
    color: #14223b !important;
text-decoration: none;
}

.bio-link > p > a:hover,.bio-link > p > a:focus {
    color: #c89f42 !important;
    text-decoration: underline;
}

.bio-link > p > a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}

.bio-info > p {
font-size: 21px;
font-family: Oswald;
color: #193d7d;
text-align: left;
margin-left: 60px;
}

.bio-email > p {
font-size: 18px;
font-family: Oswald;
color: #193d7d;
text-align: left;
margin-left: 60px;
}

.bio-detail-left-pane {
width: 50%;
background-image: url("https://s3.us-east-2.amazonaws.com/rbsk/team/heidi_kostin.jpg");
background-size: cover;
background-position:-100px 0px;
background-repeat: no-repeat;
height: 100%;
min-height: 100%;
border-right: 2px solid #193d7d;
border-top-right-radius: 20%;
border-bottom-right-radius: 20%;
display:inline-block;
position:absolute;
overflow:hidden;
}

.bio-callout {
top: 560px;
box-shadow: 5px 10px 20px -7px rgba(26,26,26,.4);
position: absolute;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
width: 100%;
background-color: #666;
background-size: 100%;
padding: 1.4rem;
text-align: center;
opacity: 0.7;
z-index: 10;
}

.bio-callout > p {
color: #fff;
font-family: Oswald;
font-size: 28px;
text-align: right;
padding-right:120px;
}

.bio-callout > p > a {
color: #fff !important;
font-family: Oswald !important;
font-size: 18px !important;
font-weight:normal;
margin-left:2px;
}

.bio-callout > p > a:hover {
color: #c89f42 !important;
text-decoration: underline !important;
}

.bio-callout > p > a:focus {
color: #c89f42 !important;
}


.bio-detail-right-pane {
width: 85%;
margin-left: 50px;
}


.bio-detail-right-pane > p {
color: #fff;
font-family: Cardo;
font-size: 18px;
line-height: 1.2em;
}

</style>

</head>

<body class="marketing-layout chrome_71 unknown chrome modern mac webkit visitor home outplacement en status-200">
    
  <!-- nav_employer_nogov_solutions_production_en: cached at: 2019-01-04 13:10:41 -0800 -->
  <div class="header hidden-sm hidden-xs" style="text-align:center;height:100px !important;">
    <div class="logo" style="float:left;">
      <a href="modern" data-action="Logo">
        <%= link_to modern_path do %>
        
	<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/logo_blue_gold_spiral.png", class: "", style: "margin-top:-34px;height:160px;" %>
        <% end %>
      </a>
    </div>
    <div class="top-nav navbar" style="margin:0px auto;float:right;">
      <ul class="nav navbar-nav ">
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="modern">Home</a> </li>
          <li class="active" style="font-size:16px !important;text-transform:uppercase;"> <a href="about_gold">Our People</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="practice">Practice Areas</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="contact">Contact</a> </li>
          <!--li class="  "> <a href="/clients">Terms & Definitions</a> </li-->
      </ul>
    </div>
  </div>
  <!-- end nav -->
  <nav class="navbar navbar-default navbar-fixed-top visible-sm-block visible-xs-block" role="navigation" style="z-index: 6000;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" data-action="Logo">
        <img alt="RBSK Law Offices" style="max-width:150px;" src="https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
    </div><!--/.nav-collapse -->
  </nav>



  <div style="width:100%;position:relative;display:block;margin-top:38px;height:auto;">
    <div class="secondary-nav">
      <p><a href="about_gold">Our Team of Professionals</a></p>
    </div>



    <div style="height:700px;width:100%;background:#14223b;position:relative;overflow:hidden;">

      <div>
	  <div class="bio-detail-left-pane">

	    <div class="bio-callout">
	      <p>
		Heidi Kostin
	      </p>
	      <p style="font-size:18px;"><span class="glyphicon glyphicon-phone"></span>&nbsp;508.555.5555
	      </p>
	      <p style="font-size:18px;color:#fff;font-family:Oswald;"><a href="mailto:hkostin@rbsklaw.com" style="font-size:18px;color:#fff;font-family:Oswald;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;hkostin@rbsklaw.com</a></p>
		</p>
	      <p>
	      </p>
	    </div>
	    <div style="width:300px;float:left;"></div>


	    <div style="clear:both;margin-bottom:60px;"></div>

	  </div>


	</div>


      <div style="float:left;width:50%;height:auto;display:inline-block;position:absolute;top:5%;right:20px;">
	<div class="bio-detail-right-pane">

	  <p style="font-size:28px;font-family:Oswald;">Heidi Kostin</p>
	  <p style="font-size:24px;font-family:Oswald;">Partner</p>
	  <p>Heidi is known for her work in guardianships and conservatorships, wills and trusts, development of estate plans and probate matters. Heidi has extensive experience representing major Boston area hospital groups in issues related to civil commitments, guardianships and conservatorships. She has represented numerous individuals seeking protection of rights when injured or disabled. Heidi also spent several years working in the field of probate and estate planning handling a wide assortment of family and tort matters. Heidi is and has been an active member to the tri-town community, serving on local boards and participating in numerous community activities and programs.</p>

	  <br>
	  <p style="font-size:21px;font-family:Oswald;">Practice Areas</p>
	  <p>Guardianship | Conservatorship | Probate Litigation | Patient Care Services</p>

	  <br>
	  <p style="font-size:21px;font-family:Oswald;">Qualifications</p>
	  <p>J.D. <i>Top 20 Rank</i> - Roger Williams University School of Law 2005</p>
	  <p>B.A. Political Science & Russian Studies <i>Magna Cum Laude</i> - Wheaton College 2001</p>

	  <br>
	  <p style="font-size:21px;font-family:Oswald;">Special Interests</p>
	  <p>Southcoast Health System Quality Board Member</p>
	  <p>Spanish and Russian language skills</p>

	</div>
      </div>
    </div>
	  
  </div>


</div>

<div style="width:100%;height:4px;background:#c89f42;">
</div>

  <div class="footer-wrap">
      <div class="footer-nav">
        <div>
          <h3><a href="about_gold">About RBSK Law</a></h3>
          <div><a href="testimonials">Testimonials</a></div>
          <div><a href="about_gold">Our Team</a></div>
          <div><a href="/in-the-news">Matthew Beaulieu</a></div>
          <div><a href="/events">Heidi Kostin</a></div>
          <div><a href="/careers">Richard Ready</a></div>
          <div><a href="/contact-us">Brandon Saunders</a></div>
        </div>
        <div>
          <h3><a href="/solutions">Who We Serve</a></h3>
          <div><a href="/solutions/outplacement">Attorneys</a></div>
          <div><a href="/solutions/social-recruiting">Health Care Providers</a></div>
          <div><a href="/resources">Families</a></div>
          <div><a href="/demo">New Adults</a></div>
          <div><a target="_blank" href="/services/seniors">Seniors</a></div>
          <div><a target="_blank" href="/services/service-members">Service Members</a></div>
        </div>
        <div>
          <h3><a href="/services">Services We Provide</a></h3>
          <div><a href="/services/real-estate">Real Estate</a></div>
      		<div><%= link_to "Probate Litigation", root_path %></div>
      		<div><%= link_to "Guardianship & Conservatorship", root_path %></div>
      		<div><%= link_to "Trusts", root_path %></div>
      		<div><%= link_to "Fiduciary Services", root_path %></div>
      		<div><%= link_to "Personal Injury", root_path %></div>
      		<div><%= link_to "Civil Litigation", root_path %></div>
      		<div><%= link_to "Mental Health Litigation", root_path %></div>
      		<div><%= link_to "Estate Planning & Elder Law", root_path %></div>
        </div>
        <div>
          <h3><a href="/contact-us">Contact Us</a></h3>
      <div><%= link_to "Terms", root_path %></div>
      <div><%= link_to "Definitions", root_path %></div>
      <div><%= link_to "News & Updates", root_path %></div>
        </div>


      </div>


      <div class="social-links">
      <a href="https://twitter.com/rbsklaw" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
      </a>
      <a href="https://www.facebook.com/RBSK_LawOffices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
      </a>
      <!--a href="https://www.glassdoor.com/Reviews/RBSK_Law_Offices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_glassdoor.png" alt="Glassdoor"/>
      </a-->
      <a href="https://www.linkedin.com/company/RBSK_Law_Offices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
      </a>
    </div>

    <div>
      &copy; 2019 RBSK Law  |  All rights reserved
    </div>
  </div>

</body>

</html>


