<!DOCTYPE html>
<html lang="en">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Spectral" rel="stylesheet">
  
<head>

    <title>RBSK Law</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="css.css" />

<style>

.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #c89f42;
}
.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #c89f42 !important;
}
.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #c89f42;
}

.section-6b {
    height: 450px;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/contact_rbsk_law.jpg) no-repeat fixed center center;
    background-size: 100%;
}

.section-4b {
    position: relative;
    z-index: 40;
    background: transparent url(https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/terms_definitions_rbsk_law.jpg) no-repeat fixed center top;
    background-size: 100%;
    padding: 120px 0 120px 50%;
}

</style>

</head>

<body class="marketing-layout chrome_71 unknown chrome modern mac webkit visitor home outplacement en status-200">
    
  <!-- nav_employer_nogov_solutions_production_en: cached at: 2019-01-04 13:10:41 -0800 -->
  <div class="header hidden-sm hidden-xs" style="text-align:center;height:100px !important;">
    <div class="logo" style="float:left;">
      <a href="/" data-action="Logo">
        <%= link_to root_path do %>
        
	<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/logo_blue_gold_spiral.png", class: "", style: "margin-top:-34px;height:160px;" %>
        <% end %>
      </a>
    </div>
    <div class="top-nav navbar" style="margin:0px auto;float:right;">
      <ul class="nav navbar-nav ">
          <li class="active" style="font-size:16px !important;text-transform:uppercase;"> <a href="modern">Home</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="about_gold">Our People</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="practice">Practice Areas</a> </li>
          <li class=" " style="font-size:16px !important;text-transform:uppercase;"> <a href="contact">Contact</a> </li>
          <!--li class="  "> <a href="/clients">Terms & Definitions</a> </li-->
      </ul>
    </div>
  </div>
  <!-- end nav -->
  <nav class="navbar navbar-default navbar-fixed-top visible-sm-block visible-xs-block" role="navigation" style="z-index: 6000;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" data-action="Logo">
        <img alt="RBSK Law Offices" style="max-width:150px;" src="https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-light-backgrounds.png" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
    </div><!--/.nav-collapse -->
  </nav>



    
  

<div class="sections">
  <div class="section-1">

      <img class="section-1-img" src="https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/rbsk_law_offices_home_cropped.jpg" style="width:100%;max-width:100%;"/>
    <div class="copy" style="position:absolute;top:200px;left:0;width:100%;text-align:center;color:#fff;">
      <h1 style="font-size: 42px; font-family: 'gotham_bookregular',Arial,Helvetica,sans-serif; font-weight: 400; text-transform: uppercase; line-height: 42px; margin: 0 0 10px;"><span><!--READY | BEAULIEU | SAUNDERS | KOSTIN--><img src="https://s3.us-east-2.amazonaws.com/rbsk/ready_beaulieu_saunders_and_kostin.png" style="max-width:800px"></span></h1>
      <h3 style="color:#fff;">Reliable. Dependable. Trusted.</h3>
      <!--div><a class="btn btn-cta ga-trackable" data-action="Schedule Demo - Top" style="background-color:#d1ad5d;" href="/demo">Contact Us</a></div-->
    </div>
    <div class="side-copy" style="position: absolute; left: 25%; top: 400px; width: 50%; padding: 20px 40px; background: rgba(255,255,255,0.6); text-align:center; border-radius: 6px;">
      			  <p style="font-family:Spectral !important;font-size:22px;color:#333;">
			    At RBSK Law Offices, our clients come first.</p>
			  <p style="font-family:Spectral !important;font-size:18px;color:#333;">With over 20 years of experience, our clients include more than 15 large hospitals in Eastern Massachusetts. Our team of dedicated attorneys offers assistance to individuals as well as organizations in a wide variety of practice areas.</p>

      <!--p style="color:#fff;">
At RBSK Law Offices, our clients come first. With over 20 years of experience, our clients include more than 15 large hospitals in Eastern MA. Our experience includes settling multi-million dollar will contests, resolving contested trusts, cases involving end of life issues and thousands of other cases with the goal of protecting the injured and disabled. With expertise in a variety of practice areas our team of dedicated attorneys is available to offer assistance to individuals as well as organizations.
</p-->
    </div>
  </div>
  <div class="section-2" style="background:#C89F43;padding-top:50px;padding-bottom:50px;">
      <div class="container" style="text-align:center;">
        <h2 class="brand" style="line-height:1.1em;padding: 0 0 10px; font-size: 45px; font-weight:400; font-family: 'gotham_lightregular',Arial,Helvetica,sans-serif;color: #fff;">Who We Serve</h2>
        <h2 style="line-height:1.1em;padding: 0 0 30px; font-size: 30px; font-weight:500; font-family: 'gotham_lightregular',Arial,Helvetica,sans-serif;color: #fff;">Our clients are our first priority</h2>
        <div class="row" style="color:#fff;">
          <div class="col-md-4">
	    <span class="glyphicon el-icon-user" style="font-size:160px;"></span>
            <!--img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_2_1_strength.png"/-->
            <h3 style="font-size:18px;color:#fff;">Health Care Organizations</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed tristique elit. Fusce molestie ullamcorper auctor. Nam rhoncus justo et felis faucibus, ac pretium arcu eleifend. Nunc elit felis, laoreet sit amet ante et, congue pellentesque dui. Mauris et libero aliquam purus vestibulum cursus.</p>
          </div>
          <div class="col-md-4">
	    <span class="glyphicon el-icon-user" style="font-size:160px;"></span>
            <!--img src="https://d31kswug2i6wp2.cloudfront.net/images/candidate-care/home_section_2_2_love.png"/-->
            <h3 style="font-size:18px;color:#fff;">Attorneys</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed tristique elit. Fusce molestie ullamcorper auctor. Nam rhoncus justo et felis faucibus, ac pretium arcu eleifend. Nunc elit felis, laoreet sit amet ante et, congue pellentesque dui. Mauris et libero aliquam purus vestibulum cursus.</p>
          </div>
          <div class="col-md-4">
	    <span class="glyphicon el-icon-user" style="font-size:160px;"></span>
            <h3 style="font-size:18px;color:#fff;">Individuals - Seniors, Families, New Adults</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed tristique elit. Fusce molestie ullamcorper auctor. Nam rhoncus justo et felis faucibus, ac pretium arcu eleifend. Nunc elit felis, laoreet sit amet ante et, congue pellentesque dui. Mauris et libero aliquam purus vestibulum cursus.</p>
          </div>
        </div>



      </div>
    </div>
    <div class="section-2b" style="text-align: center;padding: 30px;">
        <div style="font-size:20px;">Can RBSK Law Offices help me? <a class="btn btn-primary ga-trackable" style="background:#ca9f43;border-color:#ca9f43;" data-action="" href="practice">Find Out Here</a></div>
    </div>
  <div class="section-5" style="position:relative;">

    <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_bg-img.jpg" height="600px" width="100%">
    <div class="copy" style="top: 50%;margin-top:-180px;text-align:center;color:#fff;position:absolute;text-align:center;width:100%;">
      <h2 style="max-width: 800px; margin: 0 auto 20px;">Our Services</h2>
      <p style="max-width:800px;margin: 0 auto 20px;">
Seeking assistance with real estate, probate litigation, guardianship/conservatorship or fiduciary services? Our team of dedicated staff is there to cover any issues or concerns you may have. Read more about the services we provide to discover how we can best serve your needs.
</p>

      <div class="row" style="max-width:1100px; margin: 60px auto 0;">
        <div class="col-md-2 col-sm-4">
					<img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/gaurdianship_icon.png" style="width:100px;">
          <p>Guardianship & Conservatorship</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/mental_health_icon.png" style="width:100px;"/>
          <p>Mental Health Litigation</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/estate_planning_admin_icon.png" style="width:100px;"/>
          <p>Estate Planning & Elder Law</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/probate_litigation_icon.png" style="width:100px;"/>
          <p>Probate Litigation</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/real_estate_icon.png" style="width:100px;"/>
          <p>Real Estate</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/personal_injury_icon.png" style="width:100px;"/>

    <!--img src="https://s3.us-east-2.amazonaws.com/rbsk/backgrounds/terms_definitions_rbsk_law.jpg">
    <div class="copy" style="top:20%;margin-top:-180px;text-align:center;color:#fff;position:absolute;">
      <h2>Our Services</h2>
      <p style="width:70%;">Seeking assistance with real estate, probate litigation, guardianship/conservatorship or fiduciary services?  Our team of dedicated staff is there to cover any issues or concerns you may have. Read more about the services we provide to discover how we can best serve your needs.</p>

      <div class="row" style="max-width:1100px; margin: 60px auto 0;">
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/fiduciary_icon.png" style="width:100px;">
          <p>Guardianship & Conservatorship</p>
        </div>
        <div class="col-md-2 col-sm-4">
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/fiduciary_icon.png" style="width:100px;">
          <p>Mental Health Litigation</p>
        </div>
        <div class="col-md-2 col-sm-4">
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/fiduciary_icon.png" style="width:100px;">
          <p>Estate Planning & Elder Law</p>
        </div>
        <div class="col-md-2 col-sm-4">
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/fiduciary_icon.png" style="width:100px;">
          <p>Probate Litigation</p>
        </div>
        <div class="col-md-2 col-sm-4">
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/fiduciary_icon.png" style="width:100px;">
          <p>Real Estate</p>
        </div>
        <div class="col-md-2 col-sm-4">
	  <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/fiduciary_icon.png" style="width:100px;"-->

          <p>Personal Injury</p>
        </div>
      </div>
      <div class="view-platform-details" style="text-align:center;padding: 50px 0;">
        <a class="btn btn-primary ga-trackable" href="practice" style="background:#ca9f43;border-color:#ca9f43;">Learn More About Our Practice Areas</a>
      </div>
    </div>
  </div>
  <!--div class="mobile-section-5b visible-xs-block">
    <div class="row">
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_1.png"/>
        <p>One Intelligent, Responsive Platform</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_2.png"/>
        <p>Proven 6-Step Process</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_3.png"/>
        <p>Social Media &amp; Professional Networking Integration</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_4.png"/>
        <p>Accessible, High-Caliber Coaching</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_5.png"/>
        <p>Job Matching &amp; Push Notification Technology</p>
      </div>
      <div class="col-xs-6">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/outplacement/section-3_icon_6.png"/>
        <p>In-depth Self-Assessments &amp;  Resume Development</p>
      </div>
    </div>
  </div-->
  <div class="section-6" style="background:#fff; padding: 50px 0px;text-align:center;">
    <h2 style="color:#193d7d;">About Us.</h2><br/>
			<p style="max-width:800px;text-align:center;margin:0px auto;">Our clients are our first priority.<br><br> As a team of attorneys, we are able to work collaboratively, together and with our clients, to determine the ideal legal strategy for each particular case. We seek to provide first-class counsel to individuals as well as organizations in areas including estate planning, family law, probate law, elder and disability law, and civil litigation, as well as providing fiduciary services and advice to closely held corporations. <br><br>Engaging RBSK Law Offices for your legal needs provides you with a team of professionals who strive for excellence in each case.</p>

        <div style="text-align:center;margin-top:20px;"><a class="btn btn-primary-blue-inverse ga-trackable"  data-action="View Solution Details - Bottom" href="about_gold_horiz">Meet Our Team</a></div>
      </div>

  </div>
    <div class="section-4b" style="margin-top:50px;">
      <div class="quote">
        <h2 style="color:#fff;">What Others Are Saying About Us </h2>
				<h4 style="color:#fff;padding-top:10px;padding-bottom:10px;padding-right:40px;">"Matthew Beaulieu has provided top notch legal services to hospitals throughout the Partners HealthCare System including Brigham & Women’s and Faulkner Hospitals. His representation has resulted in excellent results for both the hospitals and the patients they serve, ensuring that care and discharge are appropriate and efficient, and that patients obtain ongoing care in the most appropriate setting."</h4>


        <p style="color:#fff;">— Joshua Abrams, Senior Attorney</p>
      </div>
    </div>
    
  <!-- 2019-01-04 13:18:08 -0800 -->
  <div class="footer-wrap">
      <div class="footer-nav">
        <div>
          <h3><a href="/about-us">About RBSK Law</a></h3>
          <div><a href="/clients">Testimonials</a></div>
          <div><a href="/partners">Our Team</a></div>
          <div><a href="/in-the-news">Matthew Beaulieu</a></div>
          <div><a href="/events">Heidi Kostin</a></div>
          <div><a href="/careers">Richard Ready</a></div>
          <div><a href="/contact-us">Brandon Saunders</a></div>
        </div>
        <div>
          <h3><a href="/solutions">Who We Serve</a></h3>
          <div><a href="/solutions/outplacement">Attorneys</a></div>
          <div><a href="/solutions/social-recruiting">Health Care Providers</a></div>
          <div><a href="/resources">Families</a></div>
          <div><a href="/demo">New Adults</a></div>
          <div><a target="_blank" href="/services/seniors">Seniors</a></div>
          <div><a target="_blank" href="/services/service-members">Service Members</a></div>
        </div>
        <div>
          <h3><a href="/services">Services We Provide</a></h3>
          <div><a href="/services/real-estate">Real Estate</a></div>
      		<div><%= link_to "Probate Litigation", root_path %></div>
      		<div><%= link_to "Guardianship & Conservatorship", root_path %></div>
      		<div><%= link_to "Trusts", root_path %></div>
      		<div><%= link_to "Fiduciary Services", root_path %></div>
      		<div><%= link_to "Personal Injury", root_path %></div>
      		<div><%= link_to "Civil Litigation", root_path %></div>
      		<div><%= link_to "Mental Health Litigation", root_path %></div>
      		<div><%= link_to "Estate Planning & Elder Law", root_path %></div>
        </div>
        <div>
          <h3><a href="/contact-us">Contact Us</a></h3>
      <div><%= link_to "Terms", root_path %></div>
      <div><%= link_to "Definitions", root_path %></div>
      <div><%= link_to "News & Updates", root_path %></div>
        </div>


      </div>

    <div class="social-links">
      <a href="https://twitter.com/rbsklaw" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
      </a>
      <a href="https://www.facebook.com/RBSK_LawOffices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
      </a>
      <a href="https://www.glassdoor.com/Reviews/RBSK_Law_Offices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_glassdoor.png" alt="Glassdoor"/>
      </a>
      <a href="https://www.linkedin.com/company/RBSK_Law_Offices" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
      </a>
    </div>

    <div>
      &copy; 2019 RBSK Law  |  All rights reserved
    </div>
  </div>

</body>

</html>

