<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Oswald|Spectral" rel="stylesheet">

<head>

  <title>RBSK Law</title>

<style>

.global-header .global-header-inner {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;

}

.header .top-nav .navbar-nav > li > a {
  font-size: 20px;
  color: #000;
  font-family: 'Oswald','Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #cc1100;
    background-color: #fff;
}
.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #cc1100 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #cc1100 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #cc1100 !important;
}
.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #cc1100;
}

.footer-wrap {
  background-color: #4c4c4c !important;
  color: #fff !important;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
body .footer-nav a {
  color: #fff;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

.trad-breadcrumb, .trad-share {
  color: #000;
  font-size:13px;
}

.trad-breadcrumb a, .trad-share a {
  color: #595959;
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.trad-breadcrumb a:hover, .trad-share a:hover {
  color: #7f291a;
}

.hero {
 min-height: 900px !important;
  margin-top: -200px !important;

}

h3 {
  color: #fff !important;
  font-size:28px !important;
}

</style>

</head>

<body>

<div class="header hidden-sm hidden-xs" style="text-align:right; padding:0px;">
<div class="global-header">
  <div id="global-header-inner" class="global-header-inner traditional">
    <div id="header-wrapper" class="header-wrapper">
      <div id="header-logo" class="header-logo">
        <%= link_to root_path do %>
          <%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-red.png", class: "" %>
        <% end %>
      </div>

    <div id="top-nav" class="top-nav navbar" style="margin:0px auto;padding-right:40px;">
      <ul class="nav navbar-nav" style="">
          <li class=" active  "> <a href="/clients">Home</a> </li>
          <li class="  "> <a href="/clients">About</a> </li>
          <li class="  "> <a href="/clients">Services</a> </li>
          <li class="  "> <a href="/clients">Contact Us</a> </li>
          <!--li class="  "> <a href="/clients">Terms & Definitions</a> </li-->
      </ul>
    </div>

    </div>
  </div>
</div>

</div>

<div class="main-menu" style="background:#fff;width:100%;">

  <!--div class="row" style="padding: 0 40px;width:100%;">
    <div class="col-lg-6 trad-breadcrumb" style="text-align:left;background:#fff;">
      <a href="/">Home</a>&nbsp;>&nbsp;Services
    </div>

    <div class="col-lg-6 trad-share" style="text-align:right;background:#fff;">
      <a href="/">Email</a>&nbsp;&bull;&nbsp;
      <a href="/">Print</a>&nbsp;&bull;&nbsp;
      <a href="/">Share</a>
    </div>

  </div-->

  <div class="hero" style="max-height:340px;">
      <div class="caption" style="top:300px !important;">
      <p>
      <%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/RBSK_NameBanner_lightbg.png", class: "", style: "height:100px;" %>
      <h3 style="color:#303030 !important;font-family:Spectral !important;font-size:28px !important;">RELIABLE. DEPENDABLE. TRUSTED.</h3>
      <!--div style="padding-top:140px;font-size:16px;line-height:24px !important;max-width:900px;text-align:center !important;margin: 0 auto !important;"-->
      <div class="hero-callout-traditional">
        <p style="font-family:Spectral !important;font-size:22px;">
          At RBSK Law Offices, our clients come first.</p>
        <p style="font-family:Spectral !important;font-size:18px;">With over 20 years of experience, our clients include more than 15 large hospitals in Eastern Massachusetts. Our team of dedicated attorneys offers assistance to individuals as well as organizations in a wide variety of practice areas.</p>
</div>


      </p>
    </div>

  </div>

  <div style="min-height:500px;background-color: #f2f2f2;border-bottom:1px solid #d0ccbe;padding-top:80px;">

    <!--div style="font-size:32px;text-align:center;color:#000;line-height:100px;">Proudly Servicing</div-->


      <div class="row" style="margin:0px 20px;">
        <div class="col-md-4" style="height:100%;text-align:center;">
          <div style="margin:20px;background:#fff;min-height:400px;">
            <img src="https://s3.us-east-2.amazonaws.com/rbsk/solid_blue_home_label.png" style="width:100%;">

          </div>
        </div>

        <div class="col-md-4" style="height:100%;text-align:center;">
          <div style="margin:20px;background:#fff;min-height:400px;">
            <img src="https://s3.us-east-2.amazonaws.com/rbsk/solid_blue_home_label.png" style="width:100%;">
            <p>Meet our team of professionals.</p>
          </div>
        </div>

        <div class="col-md-4" style="height:100%;text-align:center;">
          <div style="margin:20px;background:#fff;min-height:400px;">
            <img src="https://s3.us-east-2.amazonaws.com/rbsk/solid_blue_home_label.png" style="width:100%;">

          </div>
        </div>

      </div>

  </div>


  <div style="min-height:300px;padding:50px;line-height:24px !important;border-bottom: 1px solid #d0ccbe">

    <div class="row">
      <div class="col-md-8">
        <div style="padding:20px 40px;">
        <h3 style="color:#000 !important;text-align:left;">For Health Care Professionals</h3>
        <p style="color:#000;font-size:16px;text-align:left;">
We understand that patient care is often improved by swift action at the courthouse. We are in probate courts throughout the Commonwealth, often on a weekly basis. When necessary, we have also represented our clients at the Massachusetts Appeals Court and Supreme Judicial Court. With over 20 years experience in providing patient care services we are confident in our ability to aid in obtaining surrogate decision makers for incapacitated patients. Our focus is facilitating coordinated care for patients and their health care providers by swiftly and effectively processing these cases.
</p>
        </div>
        </div>

      <div class="col-md-4">
        <div style="padding:20px 40px;">
          <div style="border:1px solid #ccc;height:200px;text-align:center;">
            <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/health_care_providers_people_we_serve_notext.jpeg" width="100%">
          </div>
        </div>
      </div>

    </div>

  </div>


  <div style="min-height:300px;padding:50px;line-height:24px !important;border-bottom: 1px solid #d0ccbe;">

    <div class="row">

      <div class="col-md-4">
        <div style="padding:20px 40px;">
          <div style="border:1px solid #ccc;height:200px;text-align:center;">
      <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/attorneys.jpg" width="100%">
    </div>
        </div>
      </div>

      <div class="col-md-8">
        <div style="padding:20px 40px;">
        <h3 style="color:#000 !important;text-align:left;">For Attorneys</h3>
        <p style="color:#000;font-size:16px;text-align:left;">
Seeking assistance with real estate, probate litigation, guardianship/conservatorship or fiduciary services? Our team of dedicated staff is there to cover any issues or concerns you may have. Read more about the services we provide to discover how we can best serve your needs.
</p>
        </div>
        </div>


    </div>

  </div>

  <div style="min-height:300px;padding:50px;line-height:24px !important;border-bottom: 1px solid #d0ccbe">

    <div class="row">
      <div class="col-md-8">
        <div style="padding:20px 40px;">
        <h3 style="color:#000 !important;text-align:left;">Services for Individuals</h3>
        <p style="color:#000;font-size:16px;text-align:left;">
Our clients are our first priority. As a team of attorneys, we are able to work collaboratively, together and with our clients, to determine the ideal legal strategy for each particular case. We seek to provide first-class counsel to individuals as well as organizations in areas including estate planning, family law, probate law, elder and disability law, and civil litigation, as well as providing fiduciary services and advice to closely held corporations. Engaging RBSK Law Offices for your legal needs provides you with a team of professionals who strive for excellence in each case
</p>
        </div>
        </div>

      <div class="col-md-4">
        <div style="padding:20px 40px;">
          <div style="border:1px solid #ccc;height:200px;text-align:center;">
      <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/your_family_people_we_serve.jpg" width="100%">
    </div>
        </div>
      </div>

    </div>

  </div>


  <div style="min-height:300px;padding:50px;line-height:24px !important;border-bottom: 1px solid #d0ccbe;">

    <div class="row">

      <div class="col-md-4">
        <div style="padding:20px 40px;">
          <div style="border:1px solid #ccc;height:200px;text-align:center;">
      <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/service_members.jpg" width="100%">
    </div>
        </div>
      </div>

      <div class="col-md-8">
        <div style="padding:20px 40px;">
        <h3 style="color:#000 !important;text-align:left;">Helping Military Service Members</h3>
        <p style="color:#000;font-size:16px;text-align:left;">
We would like to say thank you to all of our current and former members of the armed forces for their service. We are forever grateful. We are pleased to offer a number of services including estate planning, real estate services, representation of your interests while on active duty and assistance with disabilities. Contact us for more information on how we can help.
</p>
        </div>
        </div>


    </div>

  </div>

</div>

  <div class="footer-wrap">
      <div class="footer-nav">
        <div>
          <h3><a href="/about-us">About RBSK Law</a></h3>
          <div><a href="/clients">Testimonials</a></div>
          <div><a href="/partners">Our Team</a></div>
          <div><a href="/in-the-news">Matthew Beaulieu</a></div>
          <div><a href="/events">Heidi Kostin</a></div>
          <div><a href="/careers">Richard Ready</a></div>
          <div><a href="/contact-us">Brandon Saunders</a></div>
        </div>
        <div>
          <h3><a href="/solutions">Who We Serve</a></h3>
          <div><a href="/solutions/outplacement">Attorneys</a></div>
          <div><a href="/solutions/social-recruiting">Health Care Providers</a></div>
          <div><a href="/resources">Families</a></div>
          <div><a href="/demo">New Adults</a></div>
          <div><a target="_blank" href="http://www.careerarc.com/blog/">Seniors</a></div>
          <div><a target="_blank" href="http://www.careerarc.com/blog/">Service Members</a></div>
        </div>
        <div>
          <h3><a href="https://www.careerarc.com/job-seeker">Services We Provide</a></h3>
          <div><a href="https://www.careerarc.com/job-seeker">Real Estate</a></div>
          <div><%= link_to "Probate Litigation", root_path %></div>
          <div><%= link_to "Guardianship & Conservatorship", root_path %></div>
          <div><%= link_to "Trusts", root_path %></div>
          <div><%= link_to "Fiduciary Services", root_path %></div>
          <div><%= link_to "Personal Injury", root_path %></div>
          <div><%= link_to "Civil Litigation", root_path %></div>
          <div><%= link_to "Mental Health Litigation", root_path %></div>
          <div><%= link_to "Estate Planning & Elder Law", root_path %></div>
        </div>
        <div>
          <h3><a href="https://www.careerarc.com/job-seeker">Contact Us</a></h3>
      <div><%= link_to "Terms", root_path %></div>
      <div><%= link_to "Definitions", root_path %></div>
      <div><%= link_to "News & Updates", root_path %></div>
        </div>


      </div>

    <div class="social-links">
      <a href="https://twitter.com/careerarc" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter"/>
      </a>
      <a href="https://www.facebook.com/careerarc" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook"/>
      </a>
      <a href="https://www.glassdoor.com/Reviews/CareerArc-Reviews-E908244.htm" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_glassdoor.png" alt="Glassdoor"/>
      </a>
      <a href="https://www.linkedin.com/company/careerarc" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn"/>
      </a>
    </div>

    <div>
      &copy; 2019 RBSK Law  |  All rights reserved
    </div>
  </div>


<% content_for :scripts do %>
  <script type="text/javascript">

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById('top-nav').classList.add("smaller");
        document.getElementById('global-header-inner').classList.add("smaller");
        document.getElementById('header-wrapper').classList.add("smaller");
        document.getElementById('header-logo').classList.add("smaller");
        document.getElementById('main-menu').classList.add("smaller");
      } else {
        document.getElementById('top-nav').classList.remove("smaller");
        document.getElementById('global-header-inner').classList.remove("smaller");
        document.getElementById('header-wrapper').classList.remove("smaller");
        document.getElementById('header-logo').classList.remove("smaller");
        document.getElementById('main-menu').classList.remove("smaller");

      }
    }


  </script>
<% end %>


</body>
</html
