<link href="https://fonts.googleapis.com/css?family=Oswald|Spectral" rel="stylesheet">

<style>

.header .top-nav .navbar-nav > li > a {
	font-size: 16px;
}
.header .top-nav .navbar-nav > li > a:hover {
    padding: 10px 8px;
    color: #ca9f43;
		background-color: #fff;
}
.header .top-nav .navbar-nav > li.active > a:after, .header .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #ca9f43 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #ca9f43 !important;
}
.top-nav .navbar-nav > li.active > a:after, .top-nav .navbar-nav > li.active > a:hover:after {
    border-bottom: solid 2px #ca9f43 !important;
}
.header .top-nav .navbar-nav > li > a:hover:after {
    border-bottom: solid 2px #ca9f43;
}
</style>

<div class="header hidden-sm hidden-xs" style="text-align:right; padding:0px;">
<div class="global-header">
	<div id="global-header-inner" class="global-header-inner">
		<div id="header-wrapper" class="header-wrapper">
			<div id="header-logo" class="header-logo">
				<%= link_to root_path do %>
					<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/logo_blue_gold_mix_transparent.png", class: "" %>
				<% end %>
			</div>

			<!--div id="main-menu" class="main-menu">
				<ul role="menu" class="navigation-list">
					<li class="navigation-item"><%= link_to "Home".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "About".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "Our Services".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "Terms & Definitions".upcase, root_path %></li> 
					<li class="navigation-item"><%= link_to "Contact Us".upcase, root_path %></li> 
				</ul>
			</div-->

    <div id="top-nav" class="top-nav navbar" style="margin:0px auto;padding-right:40px;">
      <ul class="nav navbar-nav" style="">
          <li class=" active  "> <a href="/clients">Home</a> </li>
          <li class="  "> <a href="/clients">About</a> </li>
          <li class="  "> <a href="/clients">Services</a> </li>
          <li class="  "> <a href="/clients">Contact Us</a> </li>
          <!--li class="  "> <a href="/clients">Terms & Definitions</a> </li-->
      </ul>
    </div>



		</div>
	</div>
</div>

</div>

<div class="main-body">

	<div class="hero" style="min-height:800px !important;">
  	  <div class="caption">
			<p>
			<!--%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/transparent-rbsk-law-logo-white.png", class: "", style: "height:200px;" %-->
			<br>

			<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/RBSK_NameBanner_lightbg_gold.png", class: "", style: "height:100px;" %>
  		<!--span class="border">READY | BEAULIEU | SAUNDERS | KOSTIN</span-->
			</p>
  	</div>

		<div class="hero-callout">
			<h2>Reliable. Dependable. Trusted.</h2>
			<p>At RBSK Law Offices, our clients come first. With over 20 years of experience, our clients include more than 15 large hospitals in Eastern Massachusetts. Our experience includes settling multi-million dollar will contests, resolving contested trusts, cases involving end of life issues and thousands of other cases with the goal of protecting the injured and disabled. With expertise in a variety of practice areas our team of dedicated attorneys is available to offer assistance to individuals as well as organizations.
			</p>

			<p>
			<br>
			<%= link_to "Contact Us", root_path, class: "button" %>
			</p>

		</div>

	</div>

	<div style="margin:200px 100px 100px 100px;">

		<div class="row">
			<div class="col-md-6">
				<div class="parallelogram" style="width:40%;background-color: #efe3c7;padding:20px 30px;font-weight:bold;font-size:16px;color:#aa8330">
					<span>WHO WE SERVE</span>
				</div>
				<div style="width:80%;">
					<h1 style="font-size:48px;color:#9d792c">How Can We Help?</h1>
					<p style="font-size:16px;line-height:24px;">
In need of legal assistance? Look no further. Our team of dedicated employees are here to serve you every step of the way. From hospitals to new adults to seniors, we are well versed in guiding you through the challenges of addressing legal concerns. Whether you are looking for assistance with estate planning, real estate transactions or patient care concerns, RBSK Law and our team of dedicated staff is committed to assisting you. 
					</p>
					<p>
						<%= link_to "Learn More", root_path, class: "button" %>
					</p>
	
				</div>

			</div>

			<div class="col-md-6">
				<%= image_tag "https://s3.us-east-2.amazonaws.com/rbsk/images/people_served_4a.jpg", class: "", style: "width:100%" %>
			</div>

		</div>

	</div>





<div style="color: #777;background-color:#f0f0f0;text-align:center;padding:40px 80px;text-align: justify;">
  <h1 style="font-family:Spectral;text-align:center;font-size:48px;color:#1A3D7D;padding-bottom:30px;">About Us</h1>
  <p style="font-family:Spectral;font-size:18px;line-height:24px;width:85%;margin:0 auto;padding-bottom:20px;text-align:center;">
    Our clients are our first priority. As a team of attorneys, we are able to work collaboratively, together and with our clients, to determine the ideal legal strategy for each particular case. We seek to provide first-class counsel to individuals as well as organizations in areas including estate planning, family law, probate law, elder and disability law, and civil litigation, as well as providing fiduciary services and advice to closely held corporations. <br><br>Engaging RBSK Law Offices for your legal needs provides you with a team of professionals who strive for excellence in each case.
  </p>

</div>

<div class="bgimg-2">
  <div class="caption">
    <!--span style="background-color:transparent;font-size:25px;color: #f7f7f7;">EXPERTISE. PROFESSIONALISM.</span-->


    <div class="hero-callout">

	<p>
	  <br>
	  <%= link_to "Meet Our Team", root_path, class: "button-dark" %>
	</p>
	
    </div>

    
  </div>
</div>

<div style="position:relative;">
  <div style="font-family:Spectral;color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h2>What Others Are Saying About Us</h2>
    <p style="font-size:16px;">"Matthew Beaulieu has provided top notch legal services to hospitals throughout the Partners HealthCare System including Brigham & Women’s and Faulkner Hospitals. His representation has resulted in excellent results for both the hospitals and the patients they serve, ensuring that care and discharge are appropriate and efficient, and that patients obtain ongoing care in the most appropriate setting."</p>
    <p>-- Joshua Abrams, Senior Attorney</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>

    <div class="copy" style="top: 50%;margin-top:-160px;text-align:center;color:#fff;position:absolute;text-align:center;width:100%;">
      <h2 style="max-width: 800px; margin: 0 auto 20px;">Our Services</h2>
      <p style="max-width:800px;margin: 0 auto 20px;font-size:21px;">
Seeking assistance with real estate, probate litigation, guardianship/conservatorship or fiduciary services? Our team of dedicated staff is there to cover any issues or concerns you may have. Read more about the services we provide to discover how we can best serve your needs.
</p>

      <div class="row" style="max-width:1100px; margin: 60px auto 0;">
        <div class="col-md-2 col-sm-4">
					<img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/gaurdianship_icon.png" style="width:100px;">
          <p>Guardianship & Conservatorship</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/mental_health_icon.png" style="width:100px;"/>
          <p>Mental Health Litigation</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/estate_planning_admin_icon.png" style="width:100px;"/>
          <p>Estate Planning & Elder Law</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/probate_litigation_icon.png" style="width:100px;"/>
          <p>Probate Litigation</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/real_estate_icon.png" style="width:100px;"/>
          <p>Real Estate</p>
        </div>
        <div class="col-md-2 col-sm-4">
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/icons/personal_injury_icon.png" style="width:100px;"/>
          <p>Personal Injury</p>
        </div>
      </div>
      <!--div class="view-platform-details" style="text-align:center;padding: 50px 0;">
        <a class="btn btn-primary ga-trackable" data-action="View Solution Details - 2" href="/solutions/outplacement/features" style="background:#ca9f43;border-color:#ca9f43;">Learn About Us</a>
      </div-->
    </div>




    
  </div>
</div>

<!--div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div-->

<div class="footer-wrap">
	<div class="footer-nav">
		<div><h3><%= link_to "About RBSK Law", root_path %></h3>
			<div><%= link_to "Testimonials", root_path %></div>
			<div><%= link_to "Our Team", root_path %></div>
			<div><%= link_to "Matthew Beaulieu", root_path %></div>
			<div><%= link_to "Heidi Kostin", root_path %></div>
			<div><%= link_to "Richard Ready", root_path %></div>
			<div><%= link_to "Brandon Saunders", root_path %></div>
		</div>

    <div><h3><%= link_to "Who We Serve", root_path %></h3>
      <div><%= link_to "Attorneys", root_path %></div>
      <div><%= link_to "Health Care Providers", root_path %></div>
      <div><%= link_to "Families", root_path %></div>
      <div><%= link_to "New Adults", root_path %></div>
      <div><%= link_to "Seniors", root_path %></div>
      <div><%= link_to "Service Members", root_path %></div>
    </div>

    <div><h3><%= link_to "Services We Provide", root_path %></h3>
      <div><%= link_to "Real Estate", root_path %></div>
      <div><%= link_to "Probate Litigation", root_path %></div>
      <div><%= link_to "Guardianship & Conservatorship", root_path %></div>
      <div><%= link_to "Trusts", root_path %></div>
      <div><%= link_to "Fiduciary Services", root_path %></div>
      <div><%= link_to "Personal Injury", root_path %></div>
      <div><%= link_to "Civil Litigation", root_path %></div>
      <div><%= link_to "Mental Health Litigation", root_path %></div>
      <div><%= link_to "Estate Planning & Elder Law", root_path %></div>
    </div>

    <div><h3><%= link_to "Contact Us", root_path %></h3>
      <div><%= link_to "Terms", root_path %></div>
      <div><%= link_to "Definitions", root_path %></div>
      <div><%= link_to "News & Updates", root_path %></div>
    </div>

	</div>

		<div class="social-links">
			<a href="https://twitter.com/rbsklaw" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_tw.png" alt="Twitter">
      </a>

			<a href="https://www.facebook.com/rbsklaw" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_fb.png" alt="Facebook">
      </a>

			<a href="https://www.linkedin.com/company/rbsklaw" target="_blank">
        <img src="https://d31kswug2i6wp2.cloudfront.net/images/icon_social_li.png" alt="LinkedIn">
      </a>
		</div>

		<div>
      © 2019 RBSK Law Offices |  All rights reserved
    </div>



</div>
















</div>


<% content_for :scripts do %>
  <script type="text/javascript">

		window.onscroll = function() {scrollFunction()};

		function scrollFunction() {
  		if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      	document.getElementById('top-nav').classList.add("smaller");
      	document.getElementById('global-header-inner').classList.add("smaller");
      	document.getElementById('header-wrapper').classList.add("smaller");
      	document.getElementById('header-logo').classList.add("smaller");
      	document.getElementById('main-menu').classList.add("smaller");
  		} else {
      	document.getElementById('top-nav').classList.remove("smaller");
      	document.getElementById('global-header-inner').classList.remove("smaller");
      	document.getElementById('header-wrapper').classList.remove("smaller");
      	document.getElementById('header-logo').classList.remove("smaller");
      	document.getElementById('main-menu').classList.remove("smaller");

  		}
		}


  </script>
<% end %>














