<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Contact From RBSKLaw.com </h1>
    <p>Created on: <%= @contact.created_at.present? ? l(@contact.created_at, format: :long) : 'N/A' %></p>
    <p>Name: <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Subject: <%= @contact.subject %></p>
    <p>Message: <%= @contact.message %></p>
  </body>
</html>
