  <div class="practices-headline">
    <div class="secondary-nav">
      <p>Practice Areas</p>
    </div>

    <div class="hidden-xs" style="height:400px;background: url('https://rbsk.s3.us-east-2.amazonaws.com/backgrounds/bg_courthouse_xs.jpg');background-size:cover;border-bottom:60px solid #112a55;">
      <div id="slideshow" style="float:left;margin-left:100px;background:#112a55;border-radius: 5px 5px 0px 0px;">
        <div>
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/seniors_people_we_serve_notext.jpeg" height="310" width="420">
        </div>
        <div>
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/family.jpg" height="310" width="420">
        </div>
        <div>
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/health_care_providers_people_we_serve_notext.jpeg" height="310" width="420">
        </div>
        <div>
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/service-members.jpg" height="310" width="420">
        </div>
        <div>
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/your_family_people_we_serve.jpg" height="310" width="420">
        </div>
        <div>
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/injured_people_service_members_notext.jpeg" height="310" width="420">
        </div>
        <div>
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/attorneys.jpg" height="310" width="420">
        </div>
        <div>
          <img src="https://s3.us-east-2.amazonaws.com/rbsk/images/graduates.jpg" height="310" width="420">
        </div>

      </div>

      <div class="hanger hidden-sm">
        <p style="font-family:Amiri;font-size:32px;line-height:1.3em;text-transform:uppercase;">Reliable.  Dependable.  Trusted.</p>
        <p style="font-size:21px;line-height:1.3em;">You can count on us to provide the services you need when you need them.</p>
      </div>
    </div>

    <div style="clear:both;"></div>

    <div style="width:100%">

      <div id="services-offered" class="services">
        <div class="offerings">
          <p style="font-size:28px;text-transform:uppercase;">Services We Offer<br><br></p>
          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Civil Litigation</a>
              <div class="service-description">
                <p>The attorneys of Ready, Beaulieu, Saunders & Kostin LLP have extensive experience handling civil litigation matters for individuals and organizations throughout Massachusetts. We have assisted in resolving disputes related to personal injury claims, real estate disputes, contract disputes and more.</p>
                <p><%= link_to("Learn More...", civil_litigation_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Estate Planning</a>
              <div class="service-description">
                <p>We review existing estate plans and preparations of estate plans including wills, trusts, powers of attorney, health care proxy, living will, HIPPA release and real estate deeds. We also cover planning for long-term care and administration of an estate including probate of a will, probate of an estate without a will, simple estate administration, license to sell real estate, compromise a will, prepare estate accounts and closing an estate.</p>
                <p><%= link_to("Learn More...", estate_planning_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>

          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Fiduciary Services</a>
              <div class="service-description">
                <p>We proudly cover service areas including trustee services, guardianship/conservatorship services, personal representative services, power of attorney services, health care agent services and escrow agent services.</p>
                <p><%= link_to("Learn More...", fiduciary_services_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Guardianship & Conservatorship</a>
              <div class="service-description">
                <p>We cover a variety of guardianship and conservatorship services for both individuals and institutions. We have experience representing petitioners in contested matters as well as representing those objecting to petitions or accounts. Our experience working with numerous health care organizations in Massachusetts allows us to quickly provide you with services exactly when you need them most. </p>
                <p><%= link_to("Learn More...", guardianship_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Mental Health Litigation</a>
              <div class="service-description">
                <p>Ready, Beaulieu, Saunders & Kostin LLP is counsel to psychiatric facilities in civil commitment and guardianship matters throughout Eastern Massachusetts. The firm also serves as outside associate counsel to several medical facilities, including major tertiary care centers. We have unparalleled experience in all areas of mental health litigation, including statutory and regulatory interpretation, and complex evidentiary issues. </p>
                <p><%= link_to("Learn More...", mental_health_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Personal Injury</a>
              <div class="service-description">
                <p>Serious personal injury or death of a loved one through an accident or other traumatic event is a devastating occurrence. We work with you and your family to help provide you with the support and guidance you need to achieve the appropriate resolution and compensation for your situation.</p>
                <p><%= link_to("Learn More...", personal_injury_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Probate Litigation</a>
              <div class="service-description">
                <p>Probate can be a complicated process and having the right attorney on your side can help ensure that the issues encountered can be addressed in a timely and fair manner. Our attorneys work on all matters related to estate disposition, trust establishment and enforcement and equity provisioning. Since probate often overlaps real estate, guardianship and healthy care proxy concerns, our attorneys have experience in those areas as well.</p>
                <p><%= link_to("Learn More...", probate_litigation_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Real Estate</a>
              <div class="service-description">
                <p>Ready, Beaulieu, Saunders & Kostin LLP is experienced in all areas related to real estate and has represented sellers as well as buyers from the initial purchase and sale through to the closing, always working to provide a smooth on-time closing. We are also available to provide services in fiduciary sales and in the case of land disputes or missing probate.</p>
                <p><%= link_to("Learn More...", real_estate_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-type">
              <a href="javascript:void(0);">Trusts</a>
              <div class="service-description">
                <p>We cover a variety of trust services including reviews of existing trusts as well as trust preparation services. We are also available to provide assistance with revisions to trusts as well as interpretation of ambiguous trusts. We work with attorneys as well as individuals on these cases.</p>
                <p><%= link_to("Learn More...", trusts_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
        </div>

      </div>

      <div id="people-served" class="people">
        <div class="people-served">
          <p style="font-size:28px;text-transform:uppercase;">Who We Serve<br><br></p>
          <p>
            <div class="service-group-summary">
              <a href="javascript:void(0);">Attorneys</a>
                 <div class="service-description">
                   <p>We are experienced in handling cases involving will and trust disputes and have been retained by multiple attorneys for these complex issues. Our team is experienced in probate litigation, power of attorney documentation, guardianship, conservatorship, health care proxy documentation, trusts, real estate and other fiduciary services.</p>
                   <p><%= link_to "Learn more...", attorneys_practices_path, :class => "service-learn-more" %></p>
                 </div>
            </div>
          </p>
          <p>
            <div class="service-group-summary">
              <a href="javascript:void(0);">Health Care Providers</a>
              <div class="service-description">
                <p>We understand that patient care is often improved by swift action at the courthouse. We have 20+ years experience providing patient care services and the relationships throughout the Commonwealth to facilitate expeditious processing of patient care cases. Whether an emergency hearing is required for swift patient treatment or you are looking for assistance in providing legal services to your employees at a health care organization, we can provide you with the services you need.</p>
                <p><%= link_to "Learn more...", health_care_providers_practices_path, :class => "service-learn-more" %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-group-summary">
              <a href="javascript:void(0);">Families</a>
              <div class="service-description">
                <p>At Ready, Beaulieu, Saunders & Kostin LLP, we have families too. Like you, we want to protect our loved ones, improve our lives and perhaps try to leave something for the next generation. While the typical family does not need to have a lawyer on retainer, all families should consult with an attorney regarding several very important issues. We recommend that every adult consult a legal professional in key areas including Estate Planning, Real Estate Transactions and Preventative Steps to Protect Your Family.</p>
                <p><%= link_to "Learn more...", families_practices_path, :class => "service-learn-more" %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-group-summary">
              <a href="javascript:void(0);">New Adults</a>
              <div class="service-description">
                <p>As a new adult you are now able to make some serious decisions. Being a grown-up can come with new rights as well as many new responsibilities. With these rights, it is now possible for you set your own rules for control of your health care treatment, finances and other relationships with individuals and organizations through contractual documents. Working with our firm can ensure that your rights are protected and that your interests are served.</p>
                <p><%= link_to "Learn more...", new_adults_practices_path, :class => "service-learn-more" %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-group-summary">
              <a href="javascript:void(0);">Seniors</a>
              <div class="service-description">
                <p>At Ready, Beaulieu, Saunders & Kostin LLP we are committed to serving seniors in our community.  We understand that at this stage in life there can be many questions and concerns. Estate planning and gifting, real estate services and elder protective services are areas where we may be able to help you. We are also here to answer any general questions you may have about your life, health or property.</p>
                <p><%= link_to "Learn more...", seniors_practices_path, :class => "service-learn-more" %></p>
              </div>
            </div>
          </p>
          <p>
            <div class="service-group-summary">
              <a href="javascript:void(0);">Service Members</a>
              <div class="service-description">
                <p>First, we at Ready, Beaulieu, Saunders & Kostin LLP would like to say thank you to all of our current and former members of the armed forces for their service. We are forever grateful. We are pleased to offer a number of services including estate planning, real estate services, representation of your interests while on active duty and assistance with disabilities. </p>
                <p><%= link_to("Learn More...", service_members_practices_path, :class => "service-learn-more") %></p>
              </div>
            </div>
          </p>
        </div>

      </div>


    <div style="clear:both;"></div>


    </div>

    <div style="clear:both;"></div>

    <div style="width:100%;background:#112a55;height:60px;"></div>

  </div>

  <div style="width:100%;height:10px;background:#c89f42;">
  </div>

  <script>
    $(document).ready(function(){

    $("#slideshow > div:gt(0)").hide();

    setInterval(function() { 
    $('#slideshow > div:first')
     .fadeOut(1000)
     .next()
     .fadeIn(1000)
     .end()
     .appendTo('#slideshow');
    },  3000);

    $(".service-type").click(function() {
      $(this).children(".service-description").toggle("slow");
    });  
    $(".service-group-summary").click(function() {
      $(this).children(".service-description").toggle("slow");
    });  

});

</script>

