  <div class="practices-headline">
    <div class="secondary-nav">
      <p><%= link_to("Practice Areas", practices_path) %></p>
    </div>
  </div>

    <div class="hidden-xs hidden-sm" style="width:100%;height:460px;background: url('https://s3.us-east-2.amazonaws.com/rbsk/images/injury.jpg');background-size:cover;background-position: 25% 50%;border-bottom:60px solid #112a55;">

      <div style="width:100%;font-family:Oswald;color:#fff;padding-right:0px;padding-top:180px;text-align:left;">
        <div style="background:#333;opacity:0.7;padding-left:80px;padding-top:20px;padding-bottom:20px;">
          <p style="font-family:Oswald;font-size:32px;line-height:1.3em;">You Need to Focus on Recovery.<br>We Can Help.</p>
          </div>

      </div>
    </div>

    <!--div style="clear:both;"></div-->


    <div style="width:100%" class="hidden-xs hidden-sm">

      <div id="services-offered-sub" class="service-group">
        <div style="padding-left:100px;padding-top:60px;font-family:Oswald;font-size:21px;line-height:1.6em;">
          <p style="font-size:28px;font-family:Amiri;color:#08152b;">Accidents Happen. We are here to help you recover.<br><br></p>

          <div style="width:80%;">

	    <p class="area-detail">Everyone knows that an accident can happen at any time. Whether you slipped and fell or were injured in a car accident, you likely have some medical expenses and recovery time ahead of you. Beaulieu, Saunders & Kostin LLP is here to help you through the process.</p>

	    <p class="area-section">Documentation and Evidence</p>
	    <p class="area-detail">Any personal injury case requires documentation and proof of the incident. Some cases are easier than others. We will help you identify the information you need to compile to present the best case. It is important that you speak with us shortly after your accident to make sure any details about the event can be collected as soon as possible. We can also work with insurance companies and medical providers to make sure your case is being appropriately documented and processed.</p>
	    <p class="area-section">Litigation</p>
	    <p class="area-detail">When appropriate, we will work with you to determine whether a lawsuit is going to be beneficial in helping to recover some of your expenses. There are many things that determine what a particular case may be worth and we can help you evaluate the costs and benefits of pursuing compensation for your medical bills and other expenses including time off work.</p>
	    <p class="area-detail">We have many years experience in handling personal injury cases related to vehicular accidents, work-related injuries, and medical malpractice. If you or a loved one has recently been injured, contact us to discuss your options.</p>
	    
	  </div>


        </div>


        </div>

      <div class="service-menu">
        <div style="margin-top:60px;">
          <p class="right-nav-heading">Services We Offer</p>
          <p class="right-nav-item"><%= link_to("Civil Litigation", civil_litigation_practices_path) %></p>
          <p class="right-nav-item"><%= link_to("Estate Planning", estate_planning_practices_path) %></p>
          <p class="right-nav-item"><%= link_to("Fiduciary Services", fiduciary_services_practices_path) %></p>
          <p class="right-nav-item"><%= link_to("Guardianship & Conservatorship", guardianship_practices_path) %></p>
          <p class="right-nav-item"><%= link_to("Mental Health Litigation", mental_health_practices_path) %></p>
          <p class="right-nav-item right-nav-item-active"><%= link_to("Personal Injury", personal_injury_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Probate Litigation", probate_litigation_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Real Estate", real_estate_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Trusts", trusts_practices_path) %></p>
        </div>
      </div>


    </div>

    <div class="visible-xs visible-sm">

      <div id="services-offered-sub" class="service-group">
        <div style="padding-left:20px;padding-top:20px;font-family:Oswald;font-size:21px;line-height:1.6em;">
          <p style="padding-right:20px;font-size:28px;font-family:Amiri;color:#08152b;">Accidents Happen. We are here to help you recover.<br><br></p>

          <div style="width:90%;">

	    <p class="area-detail">Everyone knows that an accident can happen at any time. Whether you slipped and fell or were injured in a car accident, you likely have some medical expenses and recovery time ahead of you. Beaulieu, Saunders & Kostin LLP is here to help you through the process.</p>

	    <p class="area-section">Documentation and Evidence</p>
	    <p class="area-detail">Any personal injury case requires documentation and proof of the incident. Some cases are easier than others. We will help you identify the information you need to compile to present the best case. It is important that you speak with us shortly after your accident to make sure any details about the event can be collected as soon as possible. We can also work with insurance companies and medical providers to make sure your case is being appropriately documented and processed.</p>
	    <p class="area-section">Litigation</p>
	    <p class="area-detail">When appropriate, we will work with you to determine whether a lawsuit is going to be beneficial in helping to recover some of your expenses. There are many things that determine what a particular case may be worth and we can help you evaluate the costs and benefits of pursuing compensation for your medical bills and other expenses including time off work.</p>
	    <p class="area-detail">We have many years experience in handling personal injury cases related to vehicular accidents, work-related injuries, and medical malpractice. If you or a loved one has recently been injured, contact us to discuss your options.</p>
	  </div>
	  
        </div>
	
      </div>

      <div style="clear:both;"></div>

      <div style="width:100%;background:#112a55;height:50px;">
        <p class="right-nav-heading-mobile">Services We Offer</p>	
      </div>
      <div style="width:100%;">
          <p class="right-nav-item"><%= link_to("Civil Litigation", civil_litigation_practices_path) %></p>
          <p class="right-nav-item"><%= link_to("Estate Planning", estate_planning_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Fiduciary Services", fiduciary_services_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Guardianship & Conservatorship", guardianship_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Mental Health Litigation", mental_health_practices_path) %></p>
          <p class="right-nav-item right-nav-item-active"><%= link_to("Personal Injury", personal_injury_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Probate Litigation", probate_litigation_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Real Estate", real_estate_practices_path) %></p>
	  <p class="right-nav-item"><%= link_to("Trusts", trusts_practices_path) %></p>

      </div>
      
    </div>



    
    <div style="clear:both;"></div>

    <div style="width:100%;background:#112a55;height:60px;"></div>

  </div>



  <div style="width:100%;height:10px;background:#c89f42;">
  </div>

